@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
html::-webkit-scrollbar {
	display: none;
}

body {
	background: rgba(45, 45, 45, 0.6);
	color: white;
}

.guideline {
	display: none;
	border-color: #00000099;
	border-style: solid;
	border-width: 2px;
	position: absolute;
}
.guideline.x {
	left: calc(50% - 1px);
	top: 0;
	height: 100%;
}
.guideline.y {
	left: 0;
	top: calc(50% - 1px);
	width: 100%;
}

.switch {
	position: absolute;
	--x: 0px;
	--y: 0px;
	left: calc(var(--x));
	top: calc(var(--y));

	border-style: solid;
	border-width: 0px;
	border-radius: 10px;
	border-color: #ffffff;
	background-color: #ffffff00;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.label {
		font-family: 'Ubuntu Mono';
		font-weight: 700;
		text-align: center;
		color: #ffffff;
	}
	.icon {
		--glyph: "";
		-webkit-mask: var(--glyph) no-repeat 50% 50%;
		mask: var(--glyph) no-repeat 50% 50%;
		background-color: #ffffffff;
		width: 0px;
		height: 0px;
	}

	.slot[layer] {
		> .label {
			color: #39a3ff;
		}
		> .icon {
			background-color: #39a3ff;
		}
	}

	> .slot.center {		
		> .label {
			font-size: 30px;
			line-height: 25px;
		}
		> .icon {
			width: 20px;
			height: 20px;
		}
	}
	> .slot.bottom {
		> .label {
			font-size: 14px;
			line-height: 14px;
		}
	}
}
.switch.active {
	background-color: #ffffffff;
	
	.label {
		color: rgba(45, 45, 45, 1.0);
	}
	.bi {
		color: rgba(45, 45, 45, 1.0);
	}
	.icon {
		background-color: rgba(45, 45, 45, 1.0);
	}
}
.switch.active[active_slot="Tap"] {
	.slot.bottom {
		visibility: hidden;
	}
}
.switch.active[active_slot="Hold"] {
	.slot.center {
		visibility: hidden;
	}
}

svg.link {
	position: absolute;
	left: 0;
	top: 0;
	width: 700px; // todo
	height: 380px; // todo
	pointer-events: none;

	> path {
		pointer-events: fill;
	}
}

// Temporary until custom scss files can be loaded
.switch.combo#layer_system > .slot.center > .label {
	font-size: 14px;
	color: #39a3ff;
}
